In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# import Data sets for practice 

geo_data = pd.read_excel("awesome-chocolates-data.xlsx", sheet_name = "geo" )
sales_data = pd.read_excel("awesome-chocolates-data.xlsx", sheet_name = "sales" )
people_data = pd.read_excel("awesome-chocolates-data.xlsx", sheet_name = "people" )
products_data = pd.read_excel("awesome-chocolates-data.xlsx", sheet_name = "products" )
print(geo_data.head())
print(sales_data.head())
print(people_data.head())
print(products_data.head())

  GeoID          Geo    Region
0    G1        India      APAC
1    G2          USA  Americas
2    G3       Canada  Americas
3    G4  New Zealand      APAC
4    G5    Australia      APAC
   SPID GeoID  PID   SaleDate  Amount  Customers  Boxes
0  SP01    G4  P04 2021-01-01    8414        276    495
1  SP02    G3  P14 2021-01-01     532        317     54
2  SP12    G2  P08 2021-01-01    5376        178    269
3  SP01    G4  P15 2021-01-01     259         32     22
4  SP19    G2  P18 2021-01-01    5530          4    179
           Salesperson  SPID     Team   Location
0         Barr Faughny  SP01  Yummies  Hyderabad
1  Dennison Crosswaite  SP02  Yummies  Hyderabad
2      Gunar Cockshoot  SP03  Yummies  Hyderabad
3       Wilone O'Kielt  SP04   Delish  Hyderabad
4         Gigi Bohling  SP05   Delish  Hyderabad
   PID          Product Category   Size  Cost_per_box
0  P01        Milk Bars     Bars  LARGE          1.52
1  P02   50% Dark Bites    Bites  LARGE          2.57
2  P03     Almond Choco     Bars  LARGE          9.60
3  P04  Raspberry Choco     Bars  LARGE          4.09
4  P05  Mint Chip Choco     Bars  LARGE          1.54

# Question: Write Python code to load a datartset using the pandas library and display the first five rows.

In [2]:

data = pd.read_csv("D:/Shiva Data Science/Main DS/Files/breast_cancer.csv", encoding='latin1')
data.head(5)

,Unnamed: 0,Cl.thickness,Cell.size,Cell.shape,Marg.adhesion,Epith.c.size,Bare.nuclei,Bl.cromatin,Normal.nucleoli,Mitoses,Class
0,1,5,1,1,1,2,1,3,1,1,benign
1,2,5,4,4,5,7,10,3,2,1,benign
2,3,3,1,1,1,2,2,3,1,1,benign
3,4,6,8,8,1,3,4,3,7,1,benign
4,5,4,1,1,3,2,1,3,1,1,benign

In [3]:
data.isnull().sum()

Unnamed: 0         0
Cl.thickness       0
Cell.size          0
Cell.shape         0
Marg.adhesion      0
Epith.c.size       0
Bare.nuclei        0
Bl.cromatin        0
Normal.nucleoli    0
Mitoses            0
Class              0
dtype: int64

In [4]:
data[data["Class"]!=0].sum()

Unnamed: 0                                                    240659
Cl.thickness                                                    3034
Cell.size                                                       2152
Cell.shape                                                      2196
Marg.adhesion                                                   1933
Epith.c.size                                                    2209
Bare.nuclei                                                     2421
Bl.cromatin                                                     2353
Normal.nucleoli                                                 1960
Mitoses                                                         1095
Class              benignbenignbenignbenignbenignmalignantbenignb...
dtype: object

In [5]:
X = data.drop("Class",axis=1)

In [6]:
from sklearn.preprocessing import LabelEncoder
LabelEncoder = LabelEncoder()
Y = LabelEncoder.fit_transform(data["Class"])

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.datasets import make_classification
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [8]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3,random_state=42)

In [9]:
model = make_pipeline(StandardScaler(),LogisticRegression())
model.fit(X_train,Y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('logisticregression', LogisticRegression())])

In [10]:
Y_pred = model.predict(X_test)

In [11]:
# Accuracy = accuracy_score(Y_test,Y_pred)
# print("Accuracy_Score-", Accuracy.round(3)*100,"%")

# Question: Write Python code to perform one-hot encoding on a categorical variable 'Color' in a pandas DataFrame.

In [12]:
One_Hot_encoder_data = pd.get_dummies(data ,columns=["Class"])
One_Hot_encoder_data.head(5)

,Unnamed: 0,Cl.thickness,Cell.size,Cell.shape,Marg.adhesion,Epith.c.size,Bare.nuclei,Bl.cromatin,Normal.nucleoli,Mitoses,Class_benign,Class_malignant
0,1,5,1,1,1,2,1,3,1,1,True,False
1,2,5,4,4,5,7,10,3,2,1,True,False
2,3,3,1,1,1,2,2,3,1,1,True,False
3,4,6,8,8,1,3,4,3,7,1,True,False
4,5,4,1,1,3,2,1,3,1,1,True,False

## Question: Given a dataset of house prices, implement a decision tree regression model using scikit-learn and evaluate its performance using Mean Squared Error (MSE).

In [13]:
Data = pd.read_csv("D:/Shiva Data Science/Main DS/Files/Company_incentives.csv")
Data.head(5)

,Age,Education,MaritalStatus,Race,Gender,Country,Incentives
0,39,Bachelors,Never-married,White,Male,United-States,77516
1,50,Bachelors,Married,White,Male,United-States,83311
2,38,HS-grad,Divorced,White,Male,United-States,215646
3,28,Bachelors,Married,Black,Female,Cuba,338409
4,37,Masters,Married,White,Female,United-States,284582

In [14]:
from sklearn.preprocessing import LabelEncoder
LabelEncoder = LabelEncoder()

Col_Names  = ["Education","MaritalStatus","Race","Gender","Country"]

for Col in Col_Names:
    Data[Col] = LabelEncoder.fit_transform(Data[Col])

In [15]:
x = Data.drop("Incentives",axis=1)
x.head(5)

   Age  Education  MaritalStatus  Race  Gender  Country
0   39          2              1     4       1       20
1   50          2              4     4       1       20
2   38          4              0     4       1       20
3   28          2              4     2       0        3
4   37          5              4     4       0       20

In [16]:
from sklearn.preprocessing import MinMaxScaler
MM = MinMaxScaler()
x  = MM.fit_transform(x)
x = pd.DataFrame(x)
x.head(5)

          0      1     2    3    4     5
0  0.484848  0.250  0.25  1.0  1.0  1.00
1  0.818182  0.250  1.00  1.0  1.0  1.00
2  0.454545  0.500  0.00  1.0  1.0  1.00
3  0.151515  0.250  1.00  0.5  0.0  0.15
4  0.424242  0.625  1.00  1.0  0.0  1.00

In [17]:
y = Data["Incentives"]
y.head(5)

0     77516
1     83311
2    215646
3    338409
4    284582
Name: Incentives, dtype: int64

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error

In [19]:
import numpy as np
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size=0.3,random_state=42)

model = DecisionTreeRegressor()
model.fit(X_train,Y_train)

Y_pred = model.predict(X_test)
Rmse =np.sqrt(mean_squared_error(Y_test,Y_pred))
Rmse.round(2)

129117.78

### Question: Write Python code to perform K-Means clustering on a dataset using the scikit-learn library.

In [20]:
from sklearn.cluster import KMeans
Kmeans = KMeans(n_clusters=3)
Kmeans.fit(x)
Kmean_labels =Kmeans.labels_
x["Cluster"]= pd.DataFrame(Kmean_labels, columns=["Cluster"])
x.head(5)

C:\Users\91879\AppData\Roaming\Python\Python310\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=3.
  warnings.warn(

          0      1     2    3    4     5  Cluster
0  0.484848  0.250  0.25  1.0  1.0  1.00        0
1  0.818182  0.250  1.00  1.0  1.0  1.00        1
2  0.454545  0.500  0.00  1.0  1.0  1.00        0
3  0.151515  0.250  1.00  0.5  0.0  0.15        2
4  0.424242  0.625  1.00  1.0  0.0  1.00        2

# Question: Implement k-nearest neighbors (KNN) classification in Python using the scikit-learn library. Provide code and an example dataset.

In [21]:
# Example dataset
xx = [[1, 2], [2, 3], [3, 4], [4, 5]]
yy = [0, 1, 0, 1]

In [22]:
from sklearn.neighbors import KNeighborsClassifier
knn= KNeighborsClassifier(n_neighbors=3)
model = knn.fit(xx,yy)

y_pred = model.predict([[6, 3]])
y_pred

array([1])

### Question: Write Python code to perform stratified sampling on a dataset for a classification problem. Why is stratified sampling important?

In [23]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size=0.3,random_state=42 )
X_train,X_test,Y_train,Y_test

(            0      1     2     3    4    5  Cluster
 357  0.424242  1.000  1.00  1.00  1.0  1.0        1
 647  0.242424  0.000  0.00  0.00  0.0  1.0        2
 291  0.000000  0.500  0.25  1.00  1.0  0.2        0
 420  0.121212  0.250  0.25  1.00  0.0  1.0        2
 177  0.575758  0.500  1.00  0.25  1.0  0.0        1
 ..        ...    ...   ...   ...  ...  ...      ...
 71   0.727273  0.625  0.25  1.00  0.0  1.0        2
 106  0.333333  0.500  0.25  1.00  0.0  1.0        2
 270  0.666667  1.000  0.00  1.00  0.0  1.0        2
 435  0.212121  0.250  1.00  0.50  0.0  1.0        2
 102  0.242424  0.500  0.25  0.50  0.0  1.0        2

 [488 rows x 7 columns],
             0      1     2     3    4    5  Cluster
 158  0.242424  1.000  1.00  1.00  1.0  1.0        1
 499  0.969697  1.000  0.00  0.25  0.0  1.0        2
 396  0.393939  0.000  0.00  1.00  0.0  1.0        2
 155  0.818182  0.000  0.00  1.00  0.0  1.0        2
 321  0.787879  0.625  1.00  1.00  1.0  1.0        1
 ..        ...    ...   ...   ...  ...  ...      ...
 11   0.272727  0.000  0.25  0.50  1.0  1.0        0
 658  0.636364  1.000  1.00  1.00  1.0  1.0        1
 567  0.606061  1.000  0.25  1.00  1.0  1.0        0
 178  0.272727  0.500  0.50  1.00  0.0  1.0        2
 533  0.969697  0.500  0.25  1.00  1.0  1.0        0

 [210 rows x 7 columns],
 357    186035
 647     78602
 291    204653
 420    109881
 177    303044
         ...
 71     149116
 106    198183
 270     96975
 435    103649
 102    185814
 Name: Incentives, Length: 488, dtype: int64,
 158    197860
 499    173093
 396     28738
 155    313321
 321    192776
         ...
 11     205019
 658    398473
 567    233130
 178    172579
 533    116442
 Name: Incentives, Length: 210, dtype: int64)

In [24]:
Date_data = pd.DataFrame({
    'datetime_column': ['2023-08-28 10:15:00', '2023-08-28 15:30:00', '2023-08-29 09:45:00']})
Date_data["datetime_column"] = pd.to_datetime(Date_data["datetime_column"])
Date_data

      datetime_column
0 2023-08-28 10:15:00
1 2023-08-28 15:30:00
2 2023-08-29 09:45:00

In [26]:
# Date_data["Day_of_week"] = Date_data["datetime_column"].dt.weekofyear
# Date_data["hour"]= Date_data["datetime_column"].dt.hour
# Date_data

# Question: In a dataset of customer reviews, you want to extract sentiment as a feature. Explain how you can perform sentiment analysis using Python, and provide an example of how to calculate sentiment scores for reviews.

In [27]:
from textblob import TextBlob

Review = "I love this product, Its very good"

sentiment = TextBlob(Review).sentiment

print("Polarity: ",sentiment.polarity)
print("Subjectivity: ",sentiment.subjectivity)

Polarity:  0.705
Subjectivity:  0.6900000000000001

# Question: Implement a simple linear regression model in Python using the scikit-learn library. Provide code and an example dataset.

In [28]:
from sklearn.linear_model import LinearRegression 

x = Data[["Age"]]
y = Data["Incentives"]

LR = LinearRegression()

model = LR.fit(x,y)
y_pred = model.predict([[88]])
y_pred

C:\Users\91879\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([161038.08622702])

# Question: You are working with a time-series dataset. Explain the concept of rolling statistics and provide an example of how to calculate a rolling mean for a time-series.

In [29]:
# # Sample time-series data
# data = pd.DataFrame({'value': [10, 15, 20, 25, 30, 35, 40]})

# data["Rolling_mean"] = data["value"].rolling(window=3).mean()

# Rolling_mean
# data

In [30]:
length = float(input("length of rectangel: "))

width = float(input("width of rectangle: "))

area = length* width

print("Area of rectangle: ", area)

length of rectangel: 12
width of rectangle: 23
Area of rectangle:  276.0

In [31]:
number = int(input("Enter a number: "))

if number % 2 == 0:
    print("Number is even")
else:
    print("Number is odd")

Enter a number: 12
Number is even

In [32]:

Numbers = list(range(1,11))

for number in Numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [33]:
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n * factorial(n-1)
    
print (factorial(5))

120

In [34]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [35]:
def prime_no(n):
    for i in range (2,int(n**0.5)+1):
        if n % i == 0:
            return False
    return True   

Primes = []
for i in range(2,101):
    if prime_no(i):
        Primes.append(i)

print(Primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [36]:
def is_prime(n):
  """Returns True if n is a prime number, False otherwise."""
  for i in range(2, int(n**0.5) + 1):
    if n % i == 0:
      return False
  return True


primes = []
for i in range(2, 101):
  if is_prime(i):
    primes.append(i)

print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [37]:
age = 25
print("Iam",age,"years old")

Iam 25 years old

In [38]:
age = 24
print("Iam",age,"years old")

Iam 24 years old

In [40]:
#convert km to miles

km = float(input("Type the no. of km: "))
miles = km / 1.609344
print(km, "km = ", round(miles,3) ,"miles")

Type the no. of km: 256
256.0 km =  159.071 miles

In [41]:

myString = "Some text"
type(myString)

str

In [42]:
myString = 'he said "meet me"'

print(myString)

he said "meet me"

In [43]:
print(myString[0])
print(myString[-1])

h
"

In [44]:
len(myString)

17

In [45]:
myString = "IND784874387783"
myString[0:3]

'IND'

In [46]:
myString = "784874387783IND"
myString[-3:]
print(myString[-8:])

87783IND

In [47]:
#Concatenate
"Hello"+ " "+ "world"

'Hello world'

In [48]:
"user-" + str(22)

'user-22'

In [49]:
num1 = 11
num2 = 77
print(type(num1))

result = num1 / num2
print(result)
print(type(result))

<class 'int'>
0.14285714285714285
<class 'float'>

In [50]:
import math
math.factorial(num1)

39916800

In [51]:
math.ceil(result)

1

# Lists

In [52]:

fruits = ["apple", "banana", "cherry","mango"]
print(type(fruits))
print(fruits)

<class 'list'>
['apple', 'banana', 'cherry', 'mango']

In [53]:
len(fruits)

4

In [54]:
fruits[0]

'apple'

In [55]:
fruits[-1]

'mango'

In [56]:
#  mutable
fruits[-1] = "kiwi"
fruits

['apple', 'banana', 'cherry', 'kiwi']

In [57]:
fruits.append("kiwi")
fruits

['apple', 'banana', 'cherry', 'kiwi', 'kiwi']

In [58]:
fruits.pop()
fruits

['apple', 'banana', 'cherry', 'kiwi']

In [59]:
fruits.pop(2)
fruits

['apple', 'banana', 'kiwi']

In [60]:
fruits.insert(0, "mango")
fruits

['mango', 'apple', 'banana', 'kiwi']

In [61]:
fruits.remove("kiwi")
fruits

['mango', 'apple', 'banana']

In [62]:
fruits2 =["banana","guava"]
fruits2+fruits

['banana', 'guava', 'mango', 'apple', 'banana']

In [63]:
#Excercise

people_names = ["John Smith", "Mary Johnson", "Robert Davis", "Lisa Wilson", "Michael Lee", "Sarah Miller", "David Anderson", "Emily Taylor", "James Brown", "Jennifer Evans"]

user = input("Type your name: ")

people_names.append(user)
print("Here's the list: ", people_names)

Type your name:
Here's the list:  ['John Smith', 'Mary Johnson', 'Robert Davis', 'Lisa Wilson', 'Michael Lee', 'Sarah Miller', 'David Anderson', 'Emily Taylor', 'James Brown', 'Jennifer Evans', '']

# Tuples

In [64]:
T = ("John", 25, "New York")
type(T)

tuple

In [65]:
T[0]

'John'

In [66]:
T

('John', 25, 'New York')

In [67]:
# T.add("kiwi")
# T 
# immutable

In [71]:
#excercise
months = ("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December")
Birthday = input("Type your birthday in the format DD-MM-YYYY ")

index = int (Birthday[3:5])-1
bd_month = months[index]

print("You were born in ", bd_month)

Type your birthday in the format DD-MM-YYYY 06-06-1998
You were born in  June

# Dictionary

In [72]:
person = {"first_name": "John","last_name": "Doe","age": 30,"city": "New York"}

In [73]:
person["dob"] = "14-01-1998"
person

{'first_name': 'John',
 'last_name': 'Doe',
 'age': 30,
 'city': 'New York',
 'dob': '14-01-1998'}

In [74]:
person["childrens"] = ["Ana","pan"]
person

{'first_name': 'John',
 'last_name': 'Doe',
 'age': 30,
 'city': 'New York',
 'dob': '14-01-1998',
 'childrens': ['Ana', 'pan']}

In [75]:
person["childrens"].append("jan")
person

{'first_name': 'John',
 'last_name': 'Doe',
 'age': 30,
 'city': 'New York',
 'dob': '14-01-1998',
 'childrens': ['Ana', 'pan', 'jan']}

In [76]:
person.get("childrens","invalid property")

['Ana', 'pan', 'jan']

In [77]:
person.get("Country","invalid property")

'invalid property'

In [78]:
person["first_name"]

'John'

In [79]:
keys = list(person.keys())
keys

['first_name', 'last_name', 'age', 'city', 'dob', 'childrens']

In [80]:
values = list(person.values())
values

['John', 'Doe', 30, 'New York', '14-01-1998', ['Ana', 'pan', 'jan']]

In [81]:
person

{'first_name': 'John',
 'last_name': 'Doe',
 'age': 30,
 'city': 'New York',
 'dob': '14-01-1998',
 'childrens': ['Ana', 'pan', 'jan']}

In [ ]:
key = input("What inforemation you want to know about the person? ")

result = person.get(key,"That information is not available")

print(result)

In [ ]:
key = input("What inforemation you want to know about the person? ")

result = person.get(key,"That information is not available")

print(result)

In [ ]:
key = input("What inforemation you want to know about the person? ")

result = person.get(key,"That information is not available")

print(result)

In [ ]:
key = input("What inforemation you want to know about the person? ").lower()

result = person.get(key,"That information is not available")

print(result)

In [ ]:
key = input("What inforemation you want to know about the person? ")

result = person.get(key,"That information is not available")

print(result)

In [ ]:
key = input("What inforemation you want to know about the person? ").lower()

result = person.get(key,"That information is not available")

print(result)

In [ ]:
person.clear()
person

# Booleans

In [ ]:
Myboolean = True
type(Myboolean)

In [ ]:
num1 = 15
num2 = 19

In [ ]:
num1 > num2

In [ ]:
num1 < num2

In [ ]:
num1 == num2

In [ ]:
num1 != num2

In [ ]:
num1 >= num2

In [ ]:
num1 <= num2

In [ ]:
num1 = float(input("Type the first number: "))
num2 = float(input("Type the first number: "))

if (num1 > num2):
    print(num1,"is greater than ",num2)
print("this is out of the if structure")

In [ ]:
num1 = float(input("Type the first number: "))
num2 = float(input("Type the first number: "))

if (num1 > num2):
    print(num1,"is greater than ",num2)
print("this is out of the if structure")

In [ ]:
num1 = float(input("Type the first number: "))
num2 = float(input("Type the first number: "))

if (num1 > num2):
    print(num1,"is greater than ",num2)
elif(num1 == num2):
    print(num1,"is equal to ",num2)
else:
    print(num1,"is less than ",num2)

In [ ]:
num1 = float(input("Type the first number: "))
num2 = float(input("Type the first number: "))

if (num1 > num2):
    print(num1,"is greater than ",num2)
elif(num1 == num2):
    print(num1,"is equal to ",num2)
else:
    print(num1,"is less than ",num2)

In [ ]:
my_age = 34

user_age = int(input("Type your age: "))

if (user_age > my_age):
    print("You are older than me")
elif (user_age == my_age):
    print("we are same age")
else:
    print("you are younge than me")

In [ ]:
my_age = 34

user_age = int(input("Type your age: "))

if (user_age > my_age):
    print("You are older than me")
elif (user_age == my_age):
    print("we are same age")
else:
    print("you are younge than me")

In [ ]:
grade1 = float(input("Type your grade in the first test: "))
grade2 = float(input("Type your grade in the second test: "))
grade3 = float(input("Type your grade in the third test: "))

absences = int(input("Type your number of absences: "))
total_classes = int(input("Type your total number of classes: "))

avg_grade = (grade1 + grade2 + grade3) / 3
attendance = (total_classes - absences) / total_classes

print("Average grade: ", round(avg_grade,2))
print("Attendance rate: ", round((attendance*100),2))

if (avg_grade >= 60):
    if(attendance >= 0.8):
        print("You have been approved.")
    else:
        print("You are not approved due to an attenadnce rate lower than the 80%.")
elif (attendance >= 0.8):
    print("You are not approved due to an average grade lower than 60%.")
else:
    print("You are not approved due to an attenadnce rate lower than the 80% and an average grade lower than 60%.")

In [ ]:
grade1 = float(input("Type your grade in the first test: "))
grade2 = float(input("Type your grade in the second test: "))
grade3 = float(input("Type your grade in the third test: "))

absences = int(input("Type your number of absences: "))
total_classes = int(input("Type your total number of classes: "))

avg_grade = (grade1 + grade2 + grade3) / 3
attendance = (total_classes - absences) / total_classes

print("Average grade: ", round(avg_grade,2))
print("Attendance rate: ", round((attendance*100),2))

if (avg_grade >= 60):
    if(attendance >= 0.8):
        print("You have been approved.")
    else:
        print("You are not approved due to an attenadnce rate lower than the 80%.")
elif (attendance >= 0.8):
    print("You are not approved due to an average grade lower than 60%.")
else:
    print("You are not approved due to an attenadnce rate lower than the 80% and an average grade lower than 60%.")

# And - or Operators

In [ ]:
grade1 = float(input("Type your grade in the first test: "))
grade2 = float(input("Type your grade in the second test: "))
grade3 = float(input("Type your grade in the third test: "))

absences = int(input("Type your number of absences: "))
total_classes = int(input("Type your total number of classes: "))

avg_grade = (grade1 + grade2 + grade3) / 3
attendance = (total_classes - absences) / total_classes

print("Average grade: ", round(avg_grade,2))
print("Attendance rate: ", round((attendance*100),2))

if (avg_grade >= 60 and attendance >= 0.8):
    print("You have been approved.")
elif (avg_grade <= 60 and attendance <= 0.8):
    print("You are not approved due to an attenadnce rate lower than the 80% and an average grade lower than 60%.")   
elif (attendance >= 0.8):
    print("You are not approved due to an average grade lower than 60%.")
else:
    print("You are not approved due to an attenadnce rate lower than the 80%.")

In [ ]:
grade1 = float(input("Type your grade in the first test: "))
grade2 = float(input("Type your grade in the second test: "))
grade3 = float(input("Type your grade in the third test: "))

absences = int(input("Type your number of absences: "))
total_classes = int(input("Type your total number of classes: "))

avg_grade = (grade1 + grade2 + grade3) / 3
attendance = (total_classes - absences) / total_classes

print("Average grade: ", round(avg_grade,2))
print("Attendance rate: ", round((attendance*100),2))

if (avg_grade >= 60 and attendance >= 0.8):
    print("You have been approved.")
elif (avg_grade <= 60 and attendance <= 0.8):
    print("You are not approved due to an attenadnce rate lower than the 80% and an average grade lower than 60%.")   
elif (attendance >= 0.8):
    print("You are not approved due to an average grade lower than 60%.")
else:
    print("You are not approved due to an attenadnce rate lower than the 80%.")

# #Conditions

In [ ]:
print("This program claculate your body mass index.")

weight = float(input("Type your weight in kg(ex. 70.5): " ))
height = float(input("Type your height in meters(ex. 1.75): " ))

bmi = weight / (height**2)

print("your bmi is: ", round(bmi,2))

if (bmi <= 18.5):
    classification = "Under weight"
elif (bmi > 18.5 and bmi <= 24.9):
    classification = "Normal weight"
elif (bmi > 24.9 and bmi < 29.9):
    classification = "Over weight"
else:
    classification = "Obesity"
    
print("The classification of bmi is: ", classification)

In [ ]:
print("This program claculate your body mass index.")

weight = float(input("Type your weight in kg(ex. 70.5): " ))
height = float(input("Type your height in meters(ex. 1.75): " ))

bmi = weight / (height**2)

print("your bmi is: ", round(bmi,2))

if (bmi <= 18.5):
    classification = "Under weight"
elif (bmi > 18.5 and bmi <= 24.9):
    classification = "Normal weight"
elif (bmi > 24.9 and bmi < 29.9):
    classification = "Over weight"
else:
    classification = "Obesity"
    
print("The classification of bmi is: ", classification)

# While Loops

In [ ]:
people = []

while len(people) < 5:
    person = input("Type the name of the person: ")
    people.append(person)
print(people)

In [ ]:
import random

number = random.randint(0,10)

guess = int(input("Iam thinking about a number between zero and ten can you guess: "))

while True:
    if guess == number:
        break
    else:
        guess = int(input("Nope, Try again: "))

print("You guessed it. I was thinking about: ", number)

In [ ]:
number = 8

guess = int(input("Iam thinking about a number between zero and ten can you guess: "))

while True:
    if guess == number:
        break
    else:
        guess = int(input("Nope, Try again: "))

print("You guessed it. I was thinking about: ", number)

# For Loops

In [ ]:
months = ["January", "February", "March", ""," ","April", "May", "June", "July", "August", " ","September", "October", "November", "December"]

for month in months:
    print(month)

In [ ]:
for month in months:
    if month == "":
        continue
    else:
        print(month)

In [ ]:
for month in months:
    if month == "":
        continue
    elif month == " ":
        continue
    else:
        print(month)

In [ ]:
month = "January"

for char in month:
    print(char)

In [ ]:
for i in range(0,10):
    print(i)

In [ ]:
dict = {"name": "Alice", "age": 30, "city": "San Francisco"}

for key in dict:
    print(key," : ", dict[key])

In [ ]:
posts = {"shiva" : ["hi", "iam", "you", "go"], "pavan" : ["bye", "come", "where", "software"]}

for person in posts:
    print("Post by : ",person)
    for post in posts[person]:
        print(post)

In [ ]:
import random

people = []

for x in range(0,5):
    person = input("Type the name of the person: ")
    people. append(person)
    
index = random.randint(0,4)

random_person = people[index]

print("\npicking a random person: ", random_person)

In [ ]:
import random

colors = ["red", "green", "blue", "yellow", "purple", "orange"]

while True:
    color = colors[random.randint(0,len(colors)-1)]
    guess = input("i'm thinking about a color, canyou guess it: ")
    
    while True:
        if (color == guess.lower()):
            break
        else:
            guess = input("Nope, try again: ")
    print("You guessed it, I was thinking about: ", color)
    
    play_again = input("Lets play again? type 'no' to quit.")
    if play_again.lower() == "no":
        break
print("it was fun, thanks for playing")

# Data Validation

In [ ]:
data_valid = False
while data_valid == False:
    grade1 = float(input("Type your grade in the first test: "))
    if grade1 < 0 or grade1 > 10:
        print("Grade should be in between 0 and 10")
        continue
    else:
        data_valid = True

data_valid = False
while data_valid == False:
    grade2 = float(input("Type your grade in the second test: "))
    if grade2 < 0 or grade2 > 10:
        print("Grade should be in between 0 and 10")
        continue
    else:
        data_valid = True

In [ ]:
data_valid = False
while data_valid == False:
    total_classes = float(input("Type total no of classes : "))
    if total_classes <= 0 :
        print("Total number of classes should more than o")
        continue
    else:
        data_valid = True
        
data_valid = False
while data_valid == False:
    obsences = float(input("Number of absences : "))
    if obsences < 0 or obsences > total_classes :
        print("Absences should not less than zero and not greater than total classes")
        continue
    else:
        data_valid = True

In [ ]:
data_valid = False
while data_valid == False:
    grade1 = float(input("Type your grade in the first test: "))
    if grade1 < 0 or grade1 > 10:
        print("Grade should be in between 0 and 10")
        continue
    else:
        data_valid = True

data_valid = False
while data_valid == False:
    grade2 = float(input("Type your grade in the second test: "))
    if grade2 < 0 or grade2 > 10:
        print("Grade should be in between 0 and 10")
        continue
    else:
        data_valid = True
        
data_valid = False
while data_valid == False:
    total_classes = float(input("Type total no of classes : "))
    if total_classes <= 0 :
        print("Total number of classes should more than 0")
        continue
    else:
        data_valid = True
        
data_valid = False
while data_valid == False:
    obsences = float(input("Number of absences : "))
    if obsences < 0 or obsences > total_classes :
        print("Absences should not less than zero and not greater than total classes")
        continue
    else:
        data_valid = True

avg_grade = (grade1 + grade2 ) / 2
attendance = (total_classes - obsences) / total_classes

print("Average grade: ", round(avg_grade,2))
print("Attendance rate: ", round((attendance*100),2))

if (avg_grade >= 6 and attendance >= 0.8):
    print("You have been approved.")
elif (avg_grade <= 6 and attendance <= 0.8):
    print("You are not approved due to an attenadnce rate lower than the 80% and an average grade lower than 60%.")   
elif (attendance >= 0.8):
    print("You are not approved due to an average grade lower than 60%.")
else:
    print("You are not approved due to an attenadnce rate lower than the 80%.")

In [ ]:
data_valid = False
while data_valid == False:
    grade1 = float(input("Type your grade in the first test: "))
    if grade1 < 0 or grade1 > 10:
        print("Grade should be in between 0 and 10")
        continue
    else:
        data_valid = True

data_valid = False
while data_valid == False:
    grade2 = float(input("Type your grade in the second test: "))
    if grade2 < 0 or grade2 > 10:
        print("Grade should be in between 0 and 10")
        continue
    else:
        data_valid = True
        
data_valid = False
while data_valid == False:
    total_classes = float(input("Type total no of classes : "))
    if total_classes <= 0 :
        print("Total number of classes should more than 0")
        continue
    else:
        data_valid = True
        
data_valid = False
while data_valid == False:
    obsences = float(input("Number of absences : "))
    if obsences < 0 or obsences > total_classes :
        print("Absences should not less than zero and not greater than total classes")
        continue
    else:
        data_valid = True

avg_grade = (grade1 + grade2 ) / 2
attendance = (total_classes - obsences) / total_classes

print("Average grade: ", round(avg_grade,2))
print("Attendance rate: ", round((attendance*100),2))

if (avg_grade >= 6 and attendance >= 0.8):
    print("You have been approved.")
elif (avg_grade <= 6 and attendance <= 0.8):
    print("You are not approved due to an attenadnce rate lower than the 80% and an average grade lower than 60%.")   
elif (attendance >= 0.8):
    print("You are not approved due to an average grade lower than 60%.")
else:
    print("You are not approved due to an attenadnce rate lower than the 80%.")

# Error handling

In [ ]:
number = input("type a number:")

try:
    number = float(number)
    print("the number is: ", number)
except:
    print("Invalid number")

In [ ]:
number = input("type a number:")

try:
    number = float(number)
    print("the number is: ", number)
except:
    print("Invalid number")

In [ ]:
prime_numbers = []

for i in range(2, 100):
    is_prime = True
    
    for n in range(2, i-1):
        if i % n == 0:
            is_prime = False
            
    if is_prime:
        prime_numbers.append(i)
        
print(prime_numbers)
len(prime_numbers)

In [ ]:
data_valid = False
while data_valid == False:
    grade1 = input("Type your grade in the first test: ")
    try:
        grade1 = float(grade1)
    except:
        print("Invalid input, only numbers are accepted. Decimal should be separated by dot.")
        continue
    if grade1 < 0 or grade1 > 10:
        print("Grade should be in between 0 and 10")
        continue
    else:
        data_valid = True

data_valid = False
while data_valid == False:
    grade2 = input("Type your grade in the second test: ")
    try:
        grade2 = float(grade2)
    except:
        print("Invalid input, only numbers are accepted. Decimal should be separated by dot.")
        continue
    if grade2 < 0 or grade2 > 10:
        print("Grade should be in between 0 and 10")
        continue
    else:
        data_valid = True
        
data_valid = False
while data_valid == False:
    total_classes = input("Type total no of classes : ")
    try:
        total_classes = int(total_classes)
    except:
        print("Invalid input, only numbers are accepted. Decimal should be separated by dot.")
        continue
    if total_classes <= 0 :
        print("Total number of classes should more than 0")
        continue
    else:
        data_valid = True
        
data_valid = False
while data_valid == False:
    obsences = input("Number of absences : ")
    try:
        obsences = int(obsences)
    except:
        print("Invalid input, only numbers are accepted. Decimal should be separated by dot.")
        continue
    if obsences < 0 or obsences > total_classes :
        print("Absences should not less than zero and not greater than total classes")
        continue
    else:
        data_valid = True

avg_grade = (grade1 + grade2 ) / 2
attendance = (total_classes - obsences) / total_classes

print("Average grade: ", round(avg_grade,2))
print("Attendance rate: ", round((attendance*100),2))

if (avg_grade >= 6 and attendance >= 0.8):
    print("You have been approved.")
elif (avg_grade <= 6 and attendance <= 0.8):
    print("You are not approved due to an attenadnce rate lower than the 80% and an average grade lower than 60%.")   
elif (attendance >= 0.8):
    print("You are not approved due to an average grade lower than 60%.")
else:
    print("You are not approved due to an attenadnce rate lower than the 80%.")

In [ ]:
data_valid = False
while data_valid == False:
    grade1 = input("Type your grade in the first test: ")
    try:
        grade1 = float(grade1)
    except:
        print("Invalid input, only numbers are accepted. Decimal should be separated by dot.")
        continue
    if grade1 < 0 or grade1 > 10:
        print("Grade should be in between 0 and 10")
        continue
    else:
        data_valid = True

data_valid = False
while data_valid == False:
    grade2 = input("Type your grade in the second test: ")
    try:
        grade2 = float(grade2)
    except:
        print("Invalid input, only numbers are accepted. Decimal should be separated by dot.")
        continue
    if grade2 < 0 or grade2 > 10:
        print("Grade should be in between 0 and 10")
        continue
    else:
        data_valid = True
        
data_valid = False
while data_valid == False:
    total_classes = input("Type total no of classes : ")
    try:
        total_classes = int(total_classes)
    except:
        print("Invalid input, only numbers are accepted. Decimal should be separated by dot.")
        continue
    if total_classes <= 0 :
        print("Total number of classes should more than 0")
        continue
    else:
        data_valid = True
        
data_valid = False
while data_valid == False:
    obsences = input("Number of absences : ")
    try:
        obsences = int(obsences)
    except:
        print("Invalid input, only numbers are accepted. Decimal should be separated by dot.")
        continue
    if obsences < 0 or obsences > total_classes :
        print("Absences should not less than zero and not greater than total classes")
        continue
    else:
        data_valid = True

avg_grade = (grade1 + grade2 ) / 2
attendance = (total_classes - obsences) / total_classes

print("Average grade: ", round(avg_grade,2))
print("Attendance rate: ", round((attendance*100),2))

if (avg_grade >= 6 and attendance >= 0.8):
    print("You have been approved.")
elif (avg_grade <= 6 and attendance <= 0.8):
    print("You are not approved due to an attenadnce rate lower than the 80% and an average grade lower than 60%.")   
elif (attendance >= 0.8):
    print("You are not approved due to an average grade lower than 60%.")
else:
    print("You are not approved due to an attenadnce rate lower than the 80%.")

# Print Prime numbers

In [ ]:
prime_numbers = []

for i in range(2, 1000):
    is_prime = True
    
    for n in range(2, i-1):
        if i % n == 0:
            is_prime = False
            
    if is_prime:
        prime_numbers.append(i)
        
print(prime_numbers)
len(prime_numbers)

In [ ]:
prime_numbers = []

for i in range(2, 10):
    is_prime = True
    
    for n in range(2, i-1):
        if i % n == 0:
            is_prime = False
            
    if is_prime:
        prime_numbers.append(i)
        
print(prime_numbers)
len(prime_numbers)

# Functions

In [ ]:
print(5)

In [ ]:
round(6545.655)

In [ ]:
def say_hello():
    print("Hellow")
say_hello()

In [ ]:
def say_hello(person):
    print("Hello " + person + ", how are you doing?")
    
say_hello("shiva")

In [ ]:
say_hello("Pawan")

In [ ]:
def fahr2celsius(fahr):
    celsius = (5 * (fahr - 32)) / 9
    return celsius
print("Celsius: ", round(fahr2celsius(200),2) )
print("Kelvin: ", round(fahr2celsius(200)+273.5,2) )

In [ ]:
def say_hello(person1, person2):
    print("Hello " + person1 + ", how are you doing? " + person2 + " is waiting for you")
    
say_hello("shiva", "pawan")

In [ ]:
def say_hello(person1, person2 = "Hero"):
    print("Hello " + person1 + ", how are you doing? " + person2 + " is waiting for you")
    
say_hello("shiva")

# Modules

# Time

In [ ]:
import time as t

In [ ]:
time_now = t.localtime()

In [ ]:
print("transaction done at ", str(time_now.tm_hour) + "h" + str(time_now.tm_min) + "m")

In [ ]:
t.time()

In [ ]:
time_now = t.time()
delivery_time = time_now + (86400 * 7)
print(delivery_time)

t.localtime(delivery_time)

In [ ]:
t.sleep(5)

# Matplotlib

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
x = [1,2,5,2,5,9]
y = [1500,458,9964,15245,152,1456]

plt.plot(x,y)

In [ ]:
months = ("January", "February", "March", "April", "May", "June")
plt.plot(months,y)

In [ ]:
plt.bar(x,y)
plt.xlabel("X")
plt.ylabel("Y")
plt.title("Heading")

# Time & Pyplot

In [ ]:
import matplotlib.pyplot as plt
import time as t

In [ ]:
times = []
mistakes = 0 

print("This program will help you to type faster")
input("Please enter to continue: ")

while len(times) < 5:
    start = t.time()
    word = input("Type the word: ")
    end = t.time()
    time_elapsed = end - start
    
    times.append(time_elapsed)
    
    if (word.lower() != "programming"):
        mistakes += 1
        
print("You made " + str(mistakes) + "mistake(s).")
print("Now let's see your evalution")
t.sleep(3)


x = [1, 2, 3, 4, 5]
y = times

legend = ["1", "2", "3", "4", "5"]
plt.xticks(x,legend)

plt.ylabel("time in second")
plt.xlabel("attempts")
plt.title("Typing evaluation")

plt.plot(x,y)
plt.show()

# HTTP Request

In [ ]:
import requests
r = requests.get("https://www.google.com")
r.status_code

In [ ]:
r.headers

In [ ]:
r.headers["Date"]

In [ ]:
r.text

# File Handling

In [ ]:
f = open("untitled.txt")
print(f.read())

In [ ]:
f = open("untitled.txt", "w")   #replace
f.write("information alert")

f = open("untitled.txt")
print(f.read())

In [ ]:
f = open("untitled.txt", "a")   #append
f.write("\nSchedule learning time \nLearning a little each day adds up. Research shows that students who make learning a habit are more likely to reach their goals. Set time aside to learn and get reminders using your learning scheduler.")

f = open("untitled.txt")
print(f.read())

In [ ]:
f = open("untitled2.txt", "x") # create file

In [ ]:
pip install xlrd

# Reading excel sheets

# Iris data

In [ ]:
import pandas as pd
file = pd.ExcelFile("C://Users//91879//Downloads//sales.xlsx")
file

In [ ]:
print(file.sheet_names)

In [ ]:
sales = file.parse("sales")
sales

In [ ]:
type(sales)

In [ ]:
print(sales.Date)

In [ ]:
sales.Amount.sum()

In [ ]:
sales.loc[0]

In [ ]:
sales.loc[0 , "Amount"]

In [ ]:
sales.set_index("Amount", inplace=True)
sales.loc[1340]

In [ ]:
sales.set_index("Customer", inplace=True)
sales.loc["MMC Inc."]

In [ ]:
sales.reset_index()

In [ ]:
sales = file.parse("sales")
sales

In [ ]:
type(sales["Invoice"])

In [ ]:
sales.loc[sales["Invoice"] == 100]

In [ ]:
sales.loc[sales["Amount"] > 2000]

In [ ]:
sales.loc[sales["Amount"].idxmax()]

In [ ]:
sales.loc[sales["Amount"].idxmax()]["Customer"]

In [ ]:
sales.loc[sales["Amount"] > 1800]

In [ ]:
sales.loc[sales["Amount"] > 1800]["Customer"]

In [ ]:
sales.loc[sales["Amount"] > 1800]["Customer"].unique()

In [ ]:
sales.loc[sales["Amount"] > 1800]["Customer"].unique()[0]

In [ ]:
sales.loc[sales["Amount"] > 1800]["Customer"].unique()[1]

In [ ]:
for customer in sales.loc[sales["Amount"] > 1800]["Customer"].unique():
    print(customer)

# machine learning

In [ ]:
from sklearn.datasets import load_iris

iris = load_iris()  # Note the parentheses
print(iris)

In [ ]:
print(iris.data)

In [ ]:
print(iris.target)

In [ ]:
print(iris.target_names)

In [ ]:
print(type(iris.target))

In [ ]:
print(iris.data.shape)

In [ ]:
print(iris.target.shape)

# KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
KNN = KNeighborsClassifier(n_neighbors=1)

In [ ]:
x = iris.data
y = iris.target

In [ ]:
KNN.fit(x,y)

In [ ]:
KNN.predict([[4.7, 3.2, 1.3, 0.2]])

In [ ]:
KNN.predict([[5.9, 3.0,  5.1, 1.8]])

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25 , random_state=40)

In [ ]:
print(x_train.shape)

In [ ]:
KNN.fit(x_train, y_train)
y_pred = KNN.predict(x_test)
print(y_pred)

In [ ]:
from sklearn import metrics
performance = metrics.accuracy_score(y_test, y_pred)
print(performance)

In [ ]:
#Finding the best K value

In [ ]:
k_values = {}
k = 1

while k <= 25:
    KNN = KNeighborsClassifier(n_neighbors=k)
    KNN.fit(x_train, y_train)
    y_pred = KNN.predict(x_test)
    performance = metrics.accuracy_score(y_test, y_pred)
    k_values[k] = round(performance,4)
    k += 1
print(k_values)

In [ ]:
import matplotlib.pyplot as plt
plt.plot(list(k_values.keys()), list(k_values.values()))
plt.xlabel = ("Value of K")
plt.ylabel = ("performance")
plt.title = ("best K")
plt.show()

# Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(x_train, y_train)
y_pred = logreg.predict(x_test)
print(y_pred)

In [ ]:
y_pred_proba = logreg.predict_proba(x_test)
print(y_pred_proba)

In [ ]:
performance = metrics.accuracy_score(y_test, y_pred)
print(performance)

In [ ]:
import matplotlib.pyplot as plt
plt.plot(y_test, y_pred)
plt.show()

In [ ]:
numbers = range(2, 100)

prime_numbers = [num for num in numbers if all(num % i != 0 for i in range(2 , num-1))]
print(prime_numbers)

In [ ]:
numbers = range(2, 100)  # Start from 2 since 0 and 1 are not prime numbers
prime_numbers = [num for num in numbers if all(num % i != 0 for i in range(2, int(num**0.5) + 1))]
print(prime_numbers)

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score, KFold


np.random.seed(42)
square_feet = np.random.randint(800, 5000, 100)
price = 150 * square_feet + np.random.normal(100000, 100)
square_feet = square_feet.reshape(-1,1)

X_train, X_test, Y_train, Y_test = train_test_split(square_feet, price, test_size = 0.25, random_state = 42)

model = LinearRegression()

model.fit(X_train, Y_train)

Y_pred = model.predict(X_test)

mse = mean_squared_error(Y_test, Y_pred)

plt.scatter(X_test, Y_test, color= "red", label="Actual_price")
plt.plot(X_test, Y_pred, color="blue", linewidth=3, label="Regession_line")
plt.xlabel("Square feet")
plt.ylabel("Price")
plt.show()

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score, KFold


np.random.seed(42)
square_feet = np.random.randint(800, 5000, 100)
price = 150 * square_feet + np.random.normal(10000, 100)
square_feet = square_feet.reshape(-1,1)

model = LinearRegression()

X_train, X_test, Y_train, Y_test = train_test_split(square_feet, price, test_size = 0.25, random_state = 42)

model.fit(X_train, Y_train)

Y_pred = model.predict(X_test)

mse = mean_squared_error(Y_test, Y_pred)

kf = KFold(n_splits=5, shuffle=True, random_state=42)
Cross_val_result = cross_val_score(model, square_feet, price, cv=kf)
print("Cross_val_result",Cross_val_result.mean())

plt.scatter(X_test, Y_test, color= "red", label="Actual_price")
plt.plot(X_test, Y_pred, color="blue", linewidth=3, label="Regession_line")
plt.xlabel("Square feet")
plt.ylabel("Price")
plt.show()

In [ ]:
# Sentiment analysis 

from textblob import TextBlob
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv("emails.csv")

data["Sentiment_score"] = data["content"].apply(lambda x: TextBlob(str(x)).sentiment.polarity)


data["Sentiment_class"] = data["Sentiment_score"].apply(lambda x: "Positive" if x > 0 else "Negative" if x < 0 else "Neutral")

data.head()

In [ ]:
Sentiment_distribution = data["Sentiment_class"].value_counts()
Sentiment_distribution.plot(kind="bar", color="coral")
plt.title("Distribution of sentiment on emails" )
plt.xlabel("sentiment class")
plt.ylabel("Number of mails")
plt.show()

In [ ]:
numbers = range(2,55,3)

def average(numbers):
    Total = sum(numbers)
    Length = len(numbers)
    return Total/Length

average = average(numbers)
print(average)

In [ ]:
scores = range(4, 1250, 88)
def analyze_scores(scores):
    average_score = sum(scores) / len(scores)
    highest_score = max(scores)
    lowest_score = min(scores)
    return average_score, highest_score, lowest_score
average_score, highest_score, lowest_score = analyze_scores(scores)

highest_score
average_score
lowest_score

In [ ]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': ['a', 'b', 'c'], 'C': [4, 5, 6]})

# Find the numeric and categorical columns
numeric_columns = df.select_dtypes(include=["int64", "float64"]).columns
categorical_columns = df.select_dtypes(include=["object"]).columns

# Add the mean of each numeric column to each row of the DataFrame
for column in numeric_columns:
    df[column] += df[column].mean()

# Print the DataFrame
print(df)

In [ ]:
numeric_columns

In [ ]:
categorical_columns

In [ ]:
n = int(input("Enter the number of rows: "))
for i in range(n, 0, -1):
    for j in range(0, i):
        print("*", end='')
    print()

In [ ]:

import pandas as pd

# Create a DataFrame
df = pd.DataFrame({
    'country': ['USA', 'USA', 'Canada', 'Canada', 'Mexico', 'Mexico'],
    'city': ['New York', 'Los Angeles', 'Toronto', 'Montreal', 'Mexico City', 'Guadalajara'],
    'sales': [10000, 8000, 7000, 6000, 5000, 4000]})

# Group the DataFrame by country and calculate the total sales for each country

grouped_df = df.groupby("country")["sales"].sum()
print(grouped_df)

In [ ]:
import statistics

numbers = [1, 2, 3, 4, 5, 9, 15]

Std_dev = statistics.stdev(numbers)
print(Std_dev)

In [ ]:
import matplotlib.pyplot as plt

x = [1, 2, 3, 4, 5]
y = [2, 4, 5, 4, 5]

plt.scatter(x,y)
plt.show()

In [ ]:
def avg_word_length(text):
    words = text.split()
    Word_lengths = [len(word) for word in words]
    average_length = sum(Word_lengths)/len(words)
    return average_length

avg_word_length = avg_word_length("Write a Python function to calculate the average length of words in a given string.")
avg_word_length

In [ ]:
import collections

def frequent_word(text):
    words = text.split()
    Word_count = collections.Counter(words)
    Most_frequent_words = Word_count.most_common(1)[0][0]
    return Most_frequent_words

Most_frequent_words = frequent_word("Write a Python function to calculate the average length of words in a given string.")
Most_frequent_words

In [ ]:
import collections

def frequent_word(text):
    words = text.split()
    Word_count = collections.Counter(words)
    Most_frequent_words = Word_count.most_common(1)[0][0]
    return Most_frequent_words

Most_frequent_words = frequent_word("Write a Python function to calculate the average length of words in a given string.")
print(Most_frequent_words)

In [ ]:
import collections

def frequent_word(text):
    words = text.split()
    Word_count = collections.Counter(words)
    Most_frequent_word = Word_count.most_common(5)[0][0]
    return Most_frequent_word

Most_frequent_word = frequent_word("Write Python function to calculate the average length of words in a given string.")
print(Most_frequent_word)

In [ ]:
prime_numbers = []
def Primes(numbers):
    for i in numbers:
        is_prime = True
        for j in range (2, int(i**0.5)+1):
            if i % j == 0:
                is_prime = False
                break
        if is_prime and i > 1:
            prime_numbers.append(i)
    return prime_numbers
        
    
primenumbers = Primes(range(1,150))
print(primenumbers)

In [ ]:
def Primes(numbers):
    prime_numbers = []  # Initialize an empty list to store prime numbers
    
    for i in numbers:
        is_prime = True  # Assume that i is prime until proven otherwise
        for j in range(2, int(i**0.5) + 1):  # Iterate from 2 to the square root of i
            if i % j == 0:
                is_prime = False  # i is divisible by j, so it is not prime
                break
        
        if is_prime and i > 1:  # Check if i is prime and greater than 1
            prime_numbers.append(i)  # Add i to the list of prime numbers
    
    return prime_numbers

primenumbers = Primes(range(1, 150))
print(primenumbers)

In [ ]:
def remove_duplicates(list_data):
    unique_data = set(list_data)
    return list(unique_data)

unique_data = remove_duplicates("Write a Python function to calculate the average length of words in a given string.")
print(unique_data)

In [ ]:
import math

def std_deviation(Numbers):
    Average = sum(Numbers)/len(Numbers)
    Variance_sum = [(Average - number)**2 for number in Numbers]
    variance = sum(Variance_sum)/len(Numbers)
    std_dev = math.sqrt(variance)
    
    return std_dev

std_deviation = std_deviation([1,5,15,46,15,5,5,5,5,5,2])
print(std_deviation)

In [ ]:
def is_palindrome(string):
    string = string.lower().strip()
    reversed_string = string[::-1]
    return string == reversed_string
palindrome = is_palindrome("wiw")
print(palindrome)

In [ ]:
wiv = "wiw"
wiw = "your_value_here"
shish = "shish"

def largest_palindrome(strings):
    palindromes = [string for string in strings if is_palindrome(string)]
    if palindromes:
        longest_palindrome = max(palindromes, key=len)
        return longest_palindrome 
    else: 
        return None

Lar_Palindrome = largest_palindrome([wiv, wiw, shish])
print(Lar_Palindrome)

In [ ]:
## Sql
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [ ]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            passwd = user_password
        )
        print ("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")
    return connection

#password

PW = "root"

#Database Name

db = "mysql_python"
connection = create_server_connection("localhost", "root", PW)

In [ ]:
import numpy as np
from sklearn.linear_model import LinearRegression
#
X = np.array([1, 2, 3, 4, 5]).reshape(-1, 1)
Y = np.array([2, 4, 5, 4, 5])

model = LinearRegression()
model.fit(X,Y)

X_new = np.array([6,9,12]).reshape(-1, 1)
Y_pred = model.predict(X_new)
Y_pred

In [ ]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

#load iris dataset

iris = load_iris()
x_train, x_test, y_train, y_test = train_test_split(iris.data, iris.target, test_size= 0.25, random_state=42)

model = DecisionTreeClassifier()
model.fit(x_train, y_train)

y_pred = model.predict(x_test)
accuracy_score = accuracy_score(y_test, y_pred)

print(accuracy_score)

In [ ]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3, 4, 6], 'B': ['a', 'b', 'c', 'd', 'e'], 'c': [4, 5, 6, 15, 55]})
df.head()

In [ ]:
Q1 = df["c"].quantile(0.25)
Q3 = df["c"].quantile(0.75)
IQR = Q3 - Q1

outliers = df[(df["c"] < Q1-IQR*1.5) | (df["c"] > Q3+1.5*IQR)]
outliers

In [ ]:
def calculate_stats(numbers):
    mean = sum(numbers)/len(numbers)
    variance = sum((x - mean)**2 for x in numbers) / len(numbers)
    std_dev = variance**0.5
    return mean, std_dev

calculate_stats(range(1,45,3))

In [ ]:
import pandas as pd
from statsmodels.stats.outliers_influence import variance_inflation_factor

# Assuming 'df' is your DataFrame with features
df = df.drop(columns=['B'])

vif_data = pd.DataFrame()
vif_data["Feature"] = df.columns
vif_data["VIF"] = [variance_inflation_factor(df.values, i) for i in range(df.shape[1])]


print(vif_data)

In [ ]:
import pandas as pd
from statsmodels.stats.outliers_influence import variance_inflation_factor

df = df.drop(columns=["B"])

vif_data = pd.DataFrame()
vif_data["Feature"] = df.columns
vif_data["vif"] = [variance_inflation_factor(df.values, i) for i in range (df.shape[1])]

vif_data["Feature"]
print(vif_data["vif"])

In [ ]:
def reverse_string(input_str):
    return input_str[::-1]

result = reverse_string("hello")
print(result)

In [ ]:
def is_palindrome(input_str):
    cleaned_str = ''.join(char.lower() for char in input_str if char.isalnum())
    return cleaned_str == cleaned_str[::-1]

result = is_palindrome("A man, a plan, a canal, Panama!")
print(result)

In [ ]:
count=0
while count<5:
    print(f"Count:{count}")
    count+=1

In [ ]:
fruits=["apple","banana","cherry"]
for fruit in fruits:
    print(f"Currentfruit:{fruit}")

In [ ]:
for i in range(3):
    for j in range(2):
        print(f"({i},{j})")

In [ ]:
a  = abs(-6)
print(a)

In [ ]:
a  = pow(-6, 3)
print(a)

In [ ]:
a  = round(2.868)
print(a)

In [ ]:
import random
random_number = random.random()
print(random_number)

In [ ]:
numbers=[1,2,3,4,5]
del numbers[2]

print(numbers)

In [ ]:
numbers_range = random.randint(1, 42)
print(numbers_range)

In [ ]:
import math
angle = math.pi
print(angle)

In [ ]:
text = "python"

centered_text = text.center(8, "-")
print(centered_text)

In [ ]:
squares = [x**2 for x in range(15)]
squares

In [ ]:
even_number = [i for i in range(15) if i%2 == 0]
print(even_number)

In [ ]:
pairs_comprehension = [(x,y) for x in range (8) for y in range (8)]
print(pairs_comprehension)

In [ ]:
import time

current_time = time.localtime()
current_time

In [ ]:
year = current_time.tm_year
year

In [ ]:
month = current_time.tm_mon
month

In [ ]:
import calendar

cal_month = calendar.month(2023, 11)
print(cal_month)

In [ ]:
sleep_time = time.sleep(2)
sleep_time

In [ ]:
def modify_list(list):
    print("Inside function (Before modification): ", list )
    list.append(4)
    print("Inside function (After modification): ", list )

main_list = [1,2,5,6,5]
list1 = modify_list(main_list)
list1

In [ ]:
multiply = lambda x, y: (x*y)
result = multiply(3,4)
result

In [ ]:
i = 3
while i < 10:
    print(i)
    i += 1

In [ ]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5)+1):
        if n == 0:
            return False
    return True

prime_numbers = []

for num in range(2, 100, 1):
    if is_prime(num):
        prime_numbers.append(num)
        
print(prime_numbers)

In [ ]:
# Example of using AI for image recognition using a pre-trained deep learning model
import tensorflow as tf
from tensorflow.keras.applications import MobileNetV2
from tensorflow.keras.preprocessing import image
from tensorflow.keras.applications.mobilenet_v2 import preprocess_input, decode_predictions
import numpy as np

# Load pre-trained MobileNetV2 model
model = MobileNetV2(weights='imagenet')

# Load and preprocess input image
img_path = 'elephant.jpg'
img = image.load_img(img_path, target_size=(224, 224))
x = image.img_to_array(img)
x = np.expand_dims(x, axis=0)
x = preprocess_input(x)

# Make predictions
preds = model.predict(x)
print('Predicted:', decode_predictions(preds, top=3)[0])

In [ ]:
def bubble_sort(arr):
    n = len(arr)
    for i in range(n):
        for j in range(0, n-i-1):
            if arr[j] > arr[j+1]:
                arr[j], arr[j+1] = arr[j+1], arr[j]

# Example usage
numbers = [64, 34, 25, 12, 22, 11, 90]
bubble_sort(numbers)
print("Sorted array:", numbers)

In [ ]:
colors = ['red', 'green', 'blue']
for index, color in enumerate(colors):
    print(f"Index {index}: {color}")

In [ ]:
names = ['Alice', 'Bob', 'Charlie']
scores = [85, 90, 75]
for name, score in zip(names, scores):
    print(f"{name}: {score}")

In [ ]:
def median(num):
    num.sort()
    n = len(num)
    if n % 2 == 0:
        return (num[n//2 - 1]+num[n//2])/2
    else:
        return (num[n//2])
    
print(median([5, 2, 7, 1, 9]))

In [ ]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

# Example usage
print(is_prime(11))

In [ ]:
def is_prime(num):
    num.sort()
    prime = []
    for n in num:
        if n <= 1:
            continue
        for i in range(2, int(n**0.5) + 1):
            if n % i == 0:
                break
        else:
            prime.append(n)
    return prime

num = [5, 2, 7, 1, 9, 11]
print(is_prime(n))

In [ ]:
from collections import Counter

# Count the frequency of elements in a list
numbers = [1, 2, 3, 1, 2, 3, 4, 5]
count = Counter(numbers)
print(count)

In [ ]:
def reverse_str(s):
    return s[::-1]

print(reverse_str("hellow"))

In [ ]:
import os
if os.path.exists("elephant.jpg"):
    print("File exits")
else:
    print("File does no exits")

In [ ]:
import numpy as np
Z = np.zeros(10)
print(Z)
Z[4] = 1
print(Z)

In [ ]:
Z = np.arange(10,50)
print(Z)

In [ ]:
Z = Z[::-1]
print(Z)

In [ ]:



x = [80, 75, 90, 85, 65]
y = [5, 4, 6, 7, 3]

r = np.corrcoef(x, y)[0,1]
print("Correlation Cooeficient-",r.round(3)*100,"%")

In [ ]:
from gensim.models import Word2Vec
sentences = [['machine', 'learning', 'is', 'awesome'], ['natural', 'language', 'processing']]
model = Word2Vec(sentences, vector_size=100, window=5, min_count=1, workers=4)
print(model.wv['machine'])

In [ ]:
identity_matrix = np.eye(3,2,1)
print(identity_matrix)

In [ ]:
import numpy as np

Z = np.zeros(10)
print(Z)

In [ ]:
Z = np.arange(10,50)
print(Z)

In [ ]:
Z = np.arange(10,50,5)
print(Z)

In [ ]:
Z = np.arange(9).reshape(3,3)
print(Z)

In [ ]:

Z = np.nonzero([1,2,0,0,4,0])
print(Z)

In [ ]:
Z = np.eye(4,4)
print(Z)

In [ ]:
Z = np.random.random((3,3,3))
print(Z)

In [ ]:
Z = np.random.random((100,1))

Zmax, Zmin = Z.min(), Z.min()
print(Zmax, Zmin)

In [ ]:
Z = np.arange(10,50)
print(Z)
Z_mean = Z.mean()
print(Z_mean)

In [ ]:
Z = np.ones((10,10))
print(Z)
Z[1:-1,1:-1] = 0
print(Z)

In [ ]:
Z = np.zeros((8,8),dtype=int)
Z[1::2,::2] = 1
Z[::2,1::2] = 1
print(Z)

In [ ]:
import pandas as pd 

D = pd.Series([1,2,3,7,5,6,"vsdhb", np.nan, 5, "hfhhf"])
print(D)

In [ ]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index = dates,  columns =list( "abcd"))
print(df)

In [ ]:
df2 = pd.DataFrame({
    'A': 1.1,
    'B': pd.Timestamp('20130102'),
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
    'D': np.array([-3] * 4, dtype='int32'),
    'E': pd.Categorical(["test", "train", "test", "train"]),
    'F': 'foo'
})

In [ ]:
df2.head()

In [ ]:
df2.dtypes

In [ ]:


df2.A

In [ ]:
df2.boxplot

In [ ]:
df2.abs

In [ ]:
df2.add

In [ ]:
df2.clip

In [ ]:
df2.add_prefix

In [ ]:
df2[["A","C"]].corr()

In [ ]:
df2.index

In [ ]:
df2 = pd.DataFrame({
    'A': 1.1,
    'B': pd.Timestamp('20130102'),
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
    'D': np.array([-3] * 4, dtype='int32'),
    'E': pd.Categorical(["test", "train", "test", "train"]),
    'F': 'foo'
})

In [ ]:
df2.columns

In [ ]:
df2.values

In [ ]:
df2.describe()

In [ ]:
df2.T

In [ ]:
df2.sort_index(axis = 1, ascending = False)

In [ ]:
df2.sort_values(by = "E")

In [ ]:
df2["D"]

In [ ]:
df2[0:3]

In [ ]:
df2["E"[0]]

In [ ]:
df2.loc[:,["A","D"]]

In [ ]:
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': ['a', 'b', 'c', 'd', 'e']
}, index=['row1', 'row2', 'row3', 'row4', 'row5'])
df.head()

In [ ]:
df.loc["row2"]

In [ ]:
df.loc["row2", "B"]

In [ ]:
df.iloc[1]

In [ ]:
df.iloc[1,1]

In [ ]:
df.loc[df["A"]>3]

In [ ]:
df.iloc[(df["A"]>3).values]

In [ ]:
df[df.A>2]

In [ ]:
df["C"] = [6,7,np.nan,9,10]

In [ ]:
df

In [ ]:
df[df["C"].isin([6,7,8])]

In [ ]:
df.iat[0,2]=25
df.head()

In [ ]:
df.dropna(how = "any")

In [ ]:
df1 = df.fillna(value = 34)
df1.head()

In [ ]:
pd.isnull(df)

In [ ]:
df.head()

In [ ]:
df1 = df.fillna(value = df["C"].mean())
df1.head()

In [ ]:
df["A"].mean()

In [ ]:
df = df.drop(labels=['B'], axis=1)
df.head()

In [ ]:
df.corr()

In [ ]:
df1.value_counts()

In [ ]:
df1["B"].str.upper()

In [ ]:
df1["B"].str.upper()

In [ ]:
df

In [ ]:
df2.groupby(["B","E", "F"], observed=False).sum()

In [ ]:
df2

In [ ]:
# Define tuples
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz'],
                    ['foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two'],
                    ['one', 'two', 'one', 'two']]))

# Create MultiIndex from tuples
index = pd.MultiIndex.from_tuples(tuples)

# Generate random data with the correct shape
random_data_shape = (len(index), 2)  # Shape is (10, 2)
random_data = np.random.rand(*random_data_shape)

# Create DataFrame with random data and MultiIndex
data = pd.DataFrame(random_data, index=index, columns=["A", "B"])

data.head()

In [ ]:
stack = data.stack()

In [ ]:
unstack = stack.unstack()
unstack

In [ ]:
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': ['a', 'b', 'c', 'd', 'e']
}, index=['row1', 'row2', 'row3', 'row4', 'row5'])
df.head()

In [ ]:
pd.pivot_table(df, values= "A", index = df.index, columns = "B")

In [ ]:
df.plot()

In [ ]:
import matplotlib.pyplot as plt
plt.figure()
df.plot()
plt.legend("Best")

In [ ]:
df.to_csv("csvfile.csv")
pd.read_csv("csvfile.csv")

In [ ]:
df.to_excel("excelfile.xlsx")
pd.read_excel("excelfile.xlsx")

In [ ]:
df = pd.read_csv("C:\\Users\\91879\\Downloads\\Electric_Vehicle_Population_Data.csv")
df.head()

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
df.describe().round(2)

In [ ]:
year_wt_high_EVs = df["Model Year"].value_counts().idxmax()
year_wt_high_EVs

In [ ]:
highest_ev_count = df["Model Year"].value_counts().max()
highest_ev_count

In [ ]:
print(f"Year with highest EVs: {year_wt_high_EVs} is ({highest_ev_count} EVs)")

In [ ]:
plt.figure(figsize= (10,6))
df_grouped = df.groupby("Model Year").size()

plt.bar(df_grouped.index, df_grouped.values)
plt.xlabel("Year")
plt.ylabel("No.of EVs")
plt.title("Electric vehicle population trend")
plt.grid(True)
plt.show()

In [ ]:
df_grouped.values

In [ ]:
plt.figure(figsize= (10,6))
df_grouped = df.groupby("Model Year").size()

plt.plot(df_grouped.index, df_grouped.values)
plt.xlabel("Year")
plt.ylabel("No.of EVs")
plt.title("Electric vehicle population trend")
plt.grid(True)
plt.show()

In [ ]:
geo_data = pd.read_excel("awesome-chocolates-data.xlsx", sheet_name = "geo" )
sales_data = pd.read_excel("awesome-chocolates-data.xlsx", sheet_name = "sales" )
people_data = pd.read_excel("awesome-chocolates-data.xlsx", sheet_name = "people" )
products_data = pd.read_excel("awesome-chocolates-data.xlsx", sheet_name = "products" )

geo_data.head()

In [ ]:
sales_data.head()

In [ ]:
people_data.head()

In [ ]:
products_data.head()

In [ ]:
sales_data.info()

In [ ]:
sales_data["PID"].unique()

In [ ]:
## Clean the data (e.g., handle missing values, convert data types):

sales_data.fillna(value = 0, inplace = True)

sales_data["SaleDate"] = pd.to_datetime(sales_data["SaleDate"])
sales_data.head()

In [ ]:
## Calculate the total sales for each chocolate category:

Grouped_data = sales_data.groupby("SPID")["Amount"].sum()
Grouped_data.head()

In [ ]:
###Visualize the data (e.g., create a bar chart to show the top 5 selling chocolates): 

top_selling_chocolate = sales_data.groupby("PID")["Amount"].sum().head(5)
top_selling_chocolate.plot(kind = "bar")
plt.xlabel("Chocolate PID")
plt.ylabel("Total Amount")
plt.title("Top 5 selling chocolates")
plt.show()

In [ ]:
sales_data.shape

In [ ]:
sales_data.dtypes

In [ ]:
sales_data.dropna(subset = ["Customers"] , inplace = True)
sales_data.head()

In [ ]:
cus_and_Amount = sales_data[["Customers", "Amount"]]
cus_and_Amount.head()

In [ ]:
fruits = ["apple", "banana", "orange"]
print("My favorite fruits are:", fruits)

In [ ]:
## Create a Data frame

data = pd.DataFrame({"C.Id":[1,2,3,4,5], "Product": ["shirt", "Pant", "Jeans", "Shorts", "Boxer"], 
                           "Price":[23, 78, 65, 78, 90], "Age":[15,12, 12,34, 22]})
data

In [ ]:
data.isnull().sum()

In [ ]:
data["Age"].fillna(data["Age"].mean())
data

In [ ]:
data.describe()

In [ ]:
colors = ['blue', 'green', 'orange', 'purple', 'red']


plt.bar(data["Product"], data["Price"], color  = colors)
plt.xlabel("Product name")
plt.ylabel("Price of the product")
plt.title("Product prices")
plt.show()

In [ ]:
plt.plot(data["Product"], data["Price"], color = "green")
plt.xlabel("Product name")
plt.ylabel("Price of the product")
plt.title("Product prices")
plt.show()

In [ ]:
plt.scatter(data["Product"], data["Price"], color = "blue")
plt.xlabel("Product name")
plt.ylabel("Price of the product")
plt.title("Product prices")
plt.yticks(rotation = 45)
plt.xticks(rotation = 45)

plt.tight_layout()
plt.show()

In [ ]:
plt.hist(data["Age"], bins= 5 , edgecolor = "black")
plt.xlabel("Age")
plt.ylabel("Frequence")
plt.title("Distribution of Age")
plt.yticks(rotation = 45)
plt.xticks(rotation = 45)

plt.tight_layout()
plt.show()

In [ ]:
plt.hist(sales_data["Amount"], bins= 20 , edgecolor = "red")
plt.xlabel("Amount")
plt.ylabel("Frequence")
plt.title("Distribution of Amount")
plt.yticks(rotation = 45)
plt.xticks(rotation = 45)

plt.tight_layout()
plt.show()

In [ ]:
data = data[data["Price"] > 50]

data

In [ ]:
grouped_data  = sales_data.groupby("PID")["Amount"].mean().round(1)
grouped_data

In [ ]:
#Import libraries and create sample data:

import numpy as np

temperature = np.array([10,45,23,45,36,25,27,28,34,23,22,26])

In [ ]:
#Calculate average temperature:
Avg_temp = np.mean(temperature)
print("Average temperature is ",Avg_temp.round(2), "Celsius")

In [ ]:
#Find the hottest day:

Hottest_day  = np.argmax(temperature)+1
Hottest_temp = temperature[Hottest_day - 1]

print(f"Hottest day {Hottest_day} with Hottest temperature is {Hottest_temp} celsius")

In [ ]:
data = pd.DataFrame({
  'Customer Name': ['Alice', 'Bob', 'Charlie', 'David'],
  'City': ['New York', 'Los Angeles', 'Chicago', 'Seattle'],
  'Purchase Amount': [100.50, 250.75, 125.25, 78.00]
})
data.head()

In [ ]:
#Sort by purchase amount:

Sorted_data = data.sort_values(by = "Purchase Amount" , ascending = False)

Sorted_data.head()

In [ ]:
#Filter data by city:
filtered_data = data[data["City"]=="New York"]
filtered_data

In [ ]:
data = pd.DataFrame({
  'Product ID': [123, 456, 789, None],  # Include a None value for Product ID
  'Product Name': ['Shirt', 'Hat', 'Pants', 'Invalid Name'],
  'Price': ['$29.99', 39.95, 55.00, 'Not a number']  # Include a non-numeric price
})
data.head()

In [ ]:
# Handle missing values:
data["Product ID"] = data["Product ID"].fillna(0)
data.head()

In [ ]:
data["Price"] = pd.to_numeric(data["Price"], errors  = "coerce")
data.head()

In [ ]:
#Remove rows with invalid data:

Cleaned_data = data.dropna (subset = ["Product Name", "Price"])
Cleaned_data.head()

In [ ]:
# Working with Text Data

In [ ]:
import nltk
from nltk.corpus import stopwords

In [ ]:
text ="This product is amazing! It works really well and is very affordable. I highly recommend it."

In [ ]:
tokens = nltk.word_tokenize(text)

In [ ]:
lower_tokens = [token.lower() for token in tokens]

In [ ]:
stopwords = stopwords.words("english")

In [ ]:
filtered_tokens = [token for token in lower_tokens if token not in stopwords]

In [ ]:
print(filtered_tokens)

In [ ]:
# EDA

data = pd.DataFrame({
  'Department': ['Marketing', 'Sales', 'Engineering', 'Marketing', 'Sales'],
  'Salary': [80000, 95000, 110000, 75000, 100000]
})

In [ ]:
sns.boxplot( x= "GeoID" , y= "Amount" , showmeans = True ,  data = sales_data)

In [ ]:
sales_data.columns

In [ ]:
# Web Scraping with Beautiful Soup

In [ ]:
!pip install beautifulsoup4

In [ ]:
import requests

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
url = "https://www.amazon.in/s?k=shoes&ref=nb_sb_noss"

In [ ]:
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

In [ ]:
# This is a simplified example, you'll need to adjust selectors based on the website's HTML structure
product_elements = soup.find_all('div', class_='product-item')  # Find elements containing product information
prices = []
for element in product_elements:
  price_element = element.find('span', class_='price')  # Find the element containing the price
  if price_element:
    price_text = price_element.text.strip()  # Extract the price text and remove whitespace
    prices.append(price_text)

print(prices)

In [ ]:
data = pd.DataFrame({
  'Product': ['A', 'B', 'A', 'C', 'B', 'A'],
  'Quantity': [2, 1, 3, 1, 4, 5],
  'Price': [10, 15, 10, 20, 15, 10]
})

In [ ]:
grouped_data = data.groupby('Product').agg({"Quantity" : "sum" , "Price" : "mean"})
grouped_data

In [ ]:
data = pd.DataFrame({
  'Customer ID': [1, 2, 3, 4],
  'Purchase Date': ['2024-01-10', '2024-02-15', '2024-01-20', '2024-02-05']
})

In [ ]:
data["Purchase Date 1"] = pd.to_datetime(data["Purchase Date"])
print(data)

In [ ]:
data.dtypes

In [ ]:
data["month"] = data["Purchase Date 1"].dt.month_name()
data["Year"] = data["Purchase Date 1"].dt.year
data["day"] = data["Purchase Date 1"].dt.day
data["day_name"] = data["Purchase Date 1"].dt.day_name()
data["dayofweek"] = data["Purchase Date 1"].dt.dayofweek
data

In [ ]:
print(geo_data.head())
print(sales_data.head())
print(people_data.head())
print(products_data.head())

In [ ]:
sales_data.plot.scatter(x = "Boxes" , y = "Amount" , color = "red")
plt.xlabel("NoofBoxes")
plt.ylabel("Amount")
plt.show()

In [ ]:
import pandas as pd

data = pd.DataFrame({
  'Customer ID': [1, 2, 3, 4],
  'Product': ['Shirt', 'Hat', 'Pants', 'Jacket'],
  'Price': [25.99, 19.95, 49.50, 99.99],
  'Age': [30,np.nan, 28, 40]
})

In [ ]:
data.isnull().sum()

In [ ]:
data["Age"].fillna(data["Age"].mean())

In [ ]:
data.dtypes

In [ ]:
data.describe().round(2)

In [ ]:
data_filtered = data[data["Age"] > 25]
data_filtered

In [ ]:
print(sales_data.head())

In [ ]:
average_Sales = sales_data.groupby("PID")["Amount"].mean().reset_index(name="avg_sales").round(2)
average_Sales.head()

In [ ]:
Total_Sales = sales_data.groupby("PID")["Amount"].sum().reset_index(name="Total_sales")
Total_Sales.head()

In [ ]:
plt.barh(Total_Sales["Total_sales"].index, Total_Sales["Total_sales"].values)

In [ ]:
plt.pie(average_Sales["avg_sales"].values, labels = average_Sales["PID"].values , autopct = "%1.1f%%")

In [ ]:
data = pd.DataFrame({
  'Model Year': [2010, 2012, 2015, 2017, 2018],
  'Miles Driven': [50000, 65000, 40000, 30000, 25000]
})

In [ ]:
sns.scatterplot(x= "Model Year" , y = "Miles Driven" , data = data)
plt.title("Model Year vs Miles Driven")
plt.show()

In [ ]:
print(geo_data.head())
print(sales_data.head())
print(people_data.head())
print(products_data.head())

In [ ]:
# Calculate total sales per region

Joined_data = pd.merge(geo_data, sales_data, on = "GeoID")
Total_sales_region = Joined_data.groupby("Region")["Amount"].sum().sort_values(ascending = False)
Total_sales_region.head()

In [ ]:
# Sales persons with higest customers
final_data = pd.merge(sales_data, people_data, on = "SPID")

Salesperson_with_customer = final_data.groupby("Salesperson")["Customers"].sum().sort_values(ascending= False)
print(Salesperson_with_customer.head())