In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# import Data sets for practice 

geo_data = pd.read_excel("awesome-chocolates-data.xlsx", sheet_name = "geo" )
sales_data = pd.read_excel("awesome-chocolates-data.xlsx", sheet_name = "sales" )
people_data = pd.read_excel("awesome-chocolates-data.xlsx", sheet_name = "people" )
products_data = pd.read_excel("awesome-chocolates-data.xlsx", sheet_name = "products" )
print(geo_data.head())
print(sales_data.head())
print(people_data.head())
print(products_data.head())

  GeoID          Geo    Region
0    G1        India      APAC
1    G2          USA  Americas
2    G3       Canada  Americas
3    G4  New Zealand      APAC
4    G5    Australia      APAC
   SPID GeoID  PID   SaleDate  Amount  Customers  Boxes
0  SP01    G4  P04 2021-01-01    8414        276    495
1  SP02    G3  P14 2021-01-01     532        317     54
2  SP12    G2  P08 2021-01-01    5376        178    269
3  SP01    G4  P15 2021-01-01     259         32     22
4  SP19    G2  P18 2021-01-01    5530          4    179
           Salesperson  SPID     Team   Location
0         Barr Faughny  SP01  Yummies  Hyderabad
1  Dennison Crosswaite  SP02  Yummies  Hyderabad
2      Gunar Cockshoot  SP03  Yummies  Hyderabad
3       Wilone O'Kielt  SP04   Delish  Hyderabad
4         Gigi Bohling  SP05   Delish  Hyderabad
   PID          Product Category   Size  Cost_per_box
0  P01        Milk Bars     Bars  LARGE          1.52
1  P02   50% Dark Bites    Bites  LARGE          2.57
2  P03     Almond Choco     Bars  LARGE          9.60
3  P04  Raspberry Choco     Bars  LARGE          4.09
4  P05  Mint Chip Choco     Bars  LARGE          1.54

In [2]:
data = {'col1': [1234, 567, 89]}
df = pd.DataFrame(data)

def reverse_digits(num):
  """Converts int to string and reverses digits."""
  return num[::-1]

# Apply reverse_digits function to the target column (converted to string)
df['col1'] = df['col1'].astype(str).apply(reverse_digits)

print(df)

   col1
0  4321
1   765
2    98

In [3]:
# Prime numbers program

In [4]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num** 0.5)+1):
        if num % i == 0:
            return False
    return True
        
number  = int(input("Please enter your number: "))

if is_prime(number):
    print(number, "is a Prime number")
else:
    print(number, "is not a Prime number")

Please enter your number: 12
12 is not a Prime number

In [5]:
#Fibonacci Series

In [ ]:
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n+2)
    
n_terms  = int(input("Please enter the n terms: "))

for i in range(n_terms):
    print(fibonacci(i), end= " ")

Please enter the n terms: 256

In [1]:
import math
mean = 2.5
RV = 5

def Poisson_pmf(mean, RV):
    e = 2.71828
    factorial = math.factorial(RV)
    Final = (mean**RV) * (e**(-mean))/factorial
    return (round(Final,3))
        
        
    
        
        
    
print(Poisson_pmf(mean, RV))

0.067

In [2]:
for i in range(5):
    print ((i))
for i in range(5):
    print (i, end=" ")

0
1
2
3
4
0 1 2 3 4

In [3]:
i = 0

while i < 8:
    print (i, end=" ")
    i += 1

0 1 2 3 4 5 6 7

In [4]:
for i in range(6):
    for j in range (7):
        print(i, j, end=",")

0 0,0 1,0 2,0 3,0 4,0 5,0 6,1 0,1 1,1 2,1 3,1 4,1 5,1 6,2 0,2 1,2 2,2 3,2 4,2 5,2 6,3 0,3 1,3 2,3 3,3 4,3 5,3 6,4 0,4 1,4 2,4 3,4 4,4 5,4 6,5 0,5 1,5 2,5 3,5 4,5 5,5 6,

In [5]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [6]:
for char in "Hello":
    print(char, end= " ")

H e l l o

In [7]:
i = 0

while i < 8:
    print (i, end=" ")
    i += 1

0 1 2 3 4 5 6 7

In [8]:
user_input = ""
while user_input != "quit":
    user_input = input("Enter 'quit' to exit: ")
    print("You entered:", user_input)

Enter 'quit' to exit: 2
You entered: 2
Enter 'quit' to exit: 123
You entered: 123
Enter 'quit' to exit: quit
You entered: quit

In [9]:
for i in range (1, 11):
    for i in range (1,11):
        print (i , "x" , j, "=", i*j )

1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60

In [10]:
for i in range (1, 17):
    if i % 5 == 0:
        break
    print(i)

1
2
3
4

In [11]:
for i in range (1, 17):
    if i % 5 == 0:
        continue
    print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16

In [15]:
i = 33
for i in range (1, 17):
    pass
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16

In [30]:
student_grades = {"Alice": 85, "Bob": 92, "Charlie": 78}

data = list(zip(student_grades.values(), student_grades.keys()))

print (pd.DataFrame(data))

print ((pd.DataFrame(data)).T)

data = [(grade, name) for grade, name in student_grades.items()]
df = pd.DataFrame(data)
print(df)

    0        1
0  85    Alice
1  92      Bob
2  78  Charlie
       0    1        2
0     85   92       78
1  Alice  Bob  Charlie
         0   1
0    Alice  85
1      Bob  92
2  Charlie  78

In [2]:
n = int(input())
s1 = str(input())
s2 = str(input())

def divide(s, n):
        l = len(s)
        fstHalf = ""
        SndHalf = ""
        for i in range(l):
                if i % n == 0:
                        fstHalf += s[i]
                else:
                        SndHalf += s[i]

        return ("{} {}".format(fstHalf,SndHalf))

print(divide(s1, n))
print(divide(s2, n))

2
yuvecsiusdjhb
yugsaukvscjhv
yvcisjb uesudh
ygaksjv usuvch

# OOP Concept

In [5]:
# Encapsulation

class Car:
    def __init__(self, make , model):
        self.make = make 
        self.model = model
    def drive(self):
        return f"{self.make} {self.model} is driving"
    
my_car = Car("Toyoto", "Corolla")
print(my_car.drive())

Toyoto Corolla is driving

In [7]:
class ElectricCar(Car):
    def __init__ (self, make, model , battery_capacity):
        super(). __init__(make , model)
        self.battery_capacity = battery_capacity
    def charge(self):
        return f"{self.make} {self.model} is charging with {self.battery_capacity}"
    
my_electric_car = ElectricCar("Tesla", "Model S", "100 KWH")

print(my_electric_car.drive())
print(my_electric_car.charge())

Tesla Model S is driving
Tesla Model S is charging with 100 KWH

In [8]:
def describe_vehicle(vehicle):
    print(f"This vehicle is a {vehicle.make} {vehicle.model}")
    
describe_vehicle(my_car)
describe_vehicle(my_electric_car)

This vehicle is a Toyoto Corolla
This vehicle is a Tesla Model S

In [ ]:
from collections import Counter
import re
import nltk
from nltk.corpus import stopwords
nltk.download("stopwords")
stopwords.words("engli")

def find_top_n_words(text, n, stop_words):
    words = re.findall(r'\b\w+\b', text.lower())
    filtered_words = [word for word in words if word not in stop_words]
    word_counts = Counter(filtered_words)
    return word_counts.most_common(n)

# Example usage:
text = "This is a sample text with some sample words. Sample text is used for testing purposes."
stop_words = {'is', 'a', 'with', 'some', 'for'}
top_words = find_top_n_words(text, 3, stop_words)
print("Top 3 Words (excluding stop words):", top_words)