In [1]:
##Question: Write Python code to load a datartset using the pandas library and display the first five rows.

In [2]:
import pandas as pd
data = pd.read_csv("D:/Shiva Data Science/Main DS/Files/breast_cancer.csv")
data.head(5)

,Unnamed: 0,Cl.thickness,Cell.size,Cell.shape,Marg.adhesion,Epith.c.size,Bare.nuclei,Bl.cromatin,Normal.nucleoli,Mitoses,Class
0,1,5,1,1,1,2,1,3,1,1,benign
1,2,5,4,4,5,7,10,3,2,1,benign
2,3,3,1,1,1,2,2,3,1,1,benign
3,4,6,8,8,1,3,4,3,7,1,benign
4,5,4,1,1,3,2,1,3,1,1,benign

In [3]:
data.isnull().sum()

Unnamed: 0         0
Cl.thickness       0
Cell.size          0
Cell.shape         0
Marg.adhesion      0
Epith.c.size       0
Bare.nuclei        0
Bl.cromatin        0
Normal.nucleoli    0
Mitoses            0
Class              0
dtype: int64

In [4]:
X=data.drop("Class",axis=1)

In [5]:
from sklearn.preprocessing import LabelEncoder
LabelEncoder = LabelEncoder()
Y = LabelEncoder.fit_transform(data["Class"])

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.datasets import make_classification
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [7]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3,random_state=42)

In [8]:
model = make_pipeline(StandardScaler(),LogisticRegression())
model.fit(X_train,Y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('logisticregression', LogisticRegression())])

In [9]:
Y_pred = model.predict(X_test)

In [10]:
Accuracy = accuracy_score(Y_test,Y_pred)
print("Accuracy_Score-",Accuracy.round(3)*100,"%")

Accuracy_Score- 95.6 %

Question: Write Python code to perform one-hot encoding on a categorical variable 'Color' in a pandas DataFrame.

In [11]:
One_Hot_encoder_data = pd.get_dummies(data ,columns=["Class"])
One_Hot_encoder_data.head(5)

,Unnamed: 0,Cl.thickness,Cell.size,Cell.shape,Marg.adhesion,Epith.c.size,Bare.nuclei,Bl.cromatin,Normal.nucleoli,Mitoses,Class_benign,Class_malignant
0,1,5,1,1,1,2,1,3,1,1,1,0
1,2,5,4,4,5,7,10,3,2,1,1,0
2,3,3,1,1,1,2,2,3,1,1,1,0
3,4,6,8,8,1,3,4,3,7,1,1,0
4,5,4,1,1,3,2,1,3,1,1,1,0

## Question: Given a dataset of house prices, implement a decision tree regression model using scikit-learn and evaluate its performance using Mean Squared Error (MSE).

In [12]:
Data = pd.read_csv("D:/Shiva Data Science/Main DS/Files/Company_incentives.csv")
Data.head(5)

,Age,Education,MaritalStatus,Race,Gender,Country,Incentives
0,39,Bachelors,Never-married,White,Male,United-States,77516
1,50,Bachelors,Married,White,Male,United-States,83311
2,38,HS-grad,Divorced,White,Male,United-States,215646
3,28,Bachelors,Married,Black,Female,Cuba,338409
4,37,Masters,Married,White,Female,United-States,284582

In [13]:
from sklearn.preprocessing import LabelEncoder
LabelEncoder = LabelEncoder()

Col_Names  = ["Education","MaritalStatus","Race","Gender","Country"]

for Col in Col_Names:
    Data[Col] = LabelEncoder.fit_transform(Data[Col])

In [14]:
x = Data.drop("Incentives",axis=1)
x.head(5)

   Age  Education  MaritalStatus  Race  Gender  Country
0   39          2              1     4       1       20
1   50          2              4     4       1       20
2   38          4              0     4       1       20
3   28          2              4     2       0        3
4   37          5              4     4       0       20

In [15]:
from sklearn.preprocessing import MinMaxScaler
MM = MinMaxScaler()
x  = MM.fit_transform(x)
x = pd.DataFrame(x)
x.head(5)

          0      1     2    3    4     5
0  0.484848  0.250  0.25  1.0  1.0  1.00
1  0.818182  0.250  1.00  1.0  1.0  1.00
2  0.454545  0.500  0.00  1.0  1.0  1.00
3  0.151515  0.250  1.00  0.5  0.0  0.15
4  0.424242  0.625  1.00  1.0  0.0  1.00

In [16]:
y = Data["Incentives"]
y.head(5)

0     77516
1     83311
2    215646
3    338409
4    284582
Name: Incentives, dtype: int64

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error

In [18]:
import numpy as np
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size=0.3,random_state=42)
model = DecisionTreeRegressor()
model.fit(X_train,Y_train)
Y_pred = model.predict(X_test)
Rmse =np.sqrt(mean_squared_error(Y_test,Y_pred))
Rmse

128755.60624204055

### Question: Write Python code to perform K-Means clustering on a dataset using the scikit-learn library.

In [19]:
from sklearn.cluster import KMeans
Kmeans = KMeans(n_clusters=3)
Kmeans.fit(x)
Kmean_labels =Kmeans.labels_
x["Cluster"]= pd.DataFrame(Kmean_labels, columns=["Cluster"])
x.head(5)

C:\Users\91879\AppData\Roaming\Python\Python310\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
C:\Users\91879\AppData\Roaming\Python\Python310\site-packages\sklearn\cluster\_kmeans.py:1436: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=3.
  warnings.warn(

          0      1     2    3    4     5  Cluster
0  0.484848  0.250  0.25  1.0  1.0  1.00        2
1  0.818182  0.250  1.00  1.0  1.0  1.00        1
2  0.454545  0.500  0.00  1.0  1.0  1.00        2
3  0.151515  0.250  1.00  0.5  0.0  0.15        0
4  0.424242  0.625  1.00  1.0  0.0  1.00        0

# Question: Implement k-nearest neighbors (KNN) classification in Python using the scikit-learn library. Provide code and an example dataset.

In [20]:
# Example dataset
xx = [[1, 2], [2, 3], [3, 4], [4, 5]]
yy = [0, 1, 0, 1]

In [21]:
from sklearn.neighbors import KNeighborsClassifier
knn= KNeighborsClassifier(n_neighbors=3)
model = knn.fit(xx,yy)

y_pred = model.predict([[6, 3]])
y_pred

array([1])

### Question: Write Python code to perform stratified sampling on a dataset for a classification problem. Why is stratified sampling important?

In [22]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size=0.3,random_state=42 )
X_train,X_test,Y_train,Y_test

(            0      1     2     3    4    5  Cluster
 357  0.424242  1.000  1.00  1.00  1.0  1.0        1
 647  0.242424  0.000  0.00  0.00  0.0  1.0        0
 291  0.000000  0.500  0.25  1.00  1.0  0.2        2
 420  0.121212  0.250  0.25  1.00  0.0  1.0        0
 177  0.575758  0.500  1.00  0.25  1.0  0.0        1
 ..        ...    ...   ...   ...  ...  ...      ...
 71   0.727273  0.625  0.25  1.00  0.0  1.0        0
 106  0.333333  0.500  0.25  1.00  0.0  1.0        0
 270  0.666667  1.000  0.00  1.00  0.0  1.0        0
 435  0.212121  0.250  1.00  0.50  0.0  1.0        0
 102  0.242424  0.500  0.25  0.50  0.0  1.0        0

 [488 rows x 7 columns],
             0      1     2     3    4    5  Cluster
 158  0.242424  1.000  1.00  1.00  1.0  1.0        1
 499  0.969697  1.000  0.00  0.25  0.0  1.0        0
 396  0.393939  0.000  0.00  1.00  0.0  1.0        0
 155  0.818182  0.000  0.00  1.00  0.0  1.0        0
 321  0.787879  0.625  1.00  1.00  1.0  1.0        1
 ..        ...    ...   ...   ...  ...  ...      ...
 11   0.272727  0.000  0.25  0.50  1.0  1.0        2
 658  0.636364  1.000  1.00  1.00  1.0  1.0        1
 567  0.606061  1.000  0.25  1.00  1.0  1.0        2
 178  0.272727  0.500  0.50  1.00  0.0  1.0        0
 533  0.969697  0.500  0.25  1.00  1.0  1.0        2

 [210 rows x 7 columns],
 357    186035
 647     78602
 291    204653
 420    109881
 177    303044
         ...
 71     149116
 106    198183
 270     96975
 435    103649
 102    185814
 Name: Incentives, Length: 488, dtype: int64,
 158    197860
 499    173093
 396     28738
 155    313321
 321    192776
         ...
 11     205019
 658    398473
 567    233130
 178    172579
 533    116442
 Name: Incentives, Length: 210, dtype: int64)

In [23]:
Date_data = pd.DataFrame({
    'datetime_column': ['2023-08-28 10:15:00', '2023-08-28 15:30:00', '2023-08-29 09:45:00']})
Date_data["datetime_column"] = pd.to_datetime(Date_data["datetime_column"])

In [24]:
Date_data["Day_of_week"] = Date_data["datetime_column"].dt.weekofyear
Date_data["hour"]= Date_data["datetime_column"].dt.hour
Date_data

C:\Users\91879\AppData\Local\Temp\ipykernel_20944\1172808793.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  Date_data["Day_of_week"] = Date_data["datetime_column"].dt.weekofyear

      datetime_column  Day_of_week  hour
0 2023-08-28 10:15:00           35    10
1 2023-08-28 15:30:00           35    15
2 2023-08-29 09:45:00           35     9

# Question: In a dataset of customer reviews, you want to extract sentiment as a feature. Explain how you can perform sentiment analysis using Python, and provide an example of how to calculate sentiment scores for reviews.

In [25]:
from textblob import TextBlob

Review = "I love this product, Its very good"

sentiment = TextBlob(Review).sentiment

print("Polarity: ",sentiment.polarity)
print("Subjectivity: ",sentiment.subjectivity)

Polarity:  0.705
Subjectivity:  0.6900000000000001

# Question: Implement a simple linear regression model in Python using the scikit-learn library. Provide code and an example dataset.

In [26]:
from sklearn.linear_model import LinearRegression 

x = Data[["Age"]]
y = Data["Incentives"]

LR = LinearRegression()

model = LR.fit(x,y)
y_pred = model.predict([[88]])
y_pred

C:\Users\91879\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([161038.08622702])

# Question: You are working with a time-series dataset. Explain the concept of rolling statistics and provide an example of how to calculate a rolling mean for a time-series.

In [27]:
# # Sample time-series data
# data = pd.DataFrame({'value': [10, 15, 20, 25, 30, 35, 40]})

# data["Rolling_mean"] = data["value"].rolling(window=3).mean()

# Rolling_mean
# data

In [28]:
length = float(input("length of rectangel: "))

width = float(input("width of rectangle: "))

area = length* width

print("Area of rectangle: ", area)

length of rectangel: 11
width of rectangle: 23
Area of rectangle:  253.0

In [30]:
number = int(input("Enter a number: "))

if number % 2 == 0:
    print("Number is even")
else:
    print("Number is odd")

Enter a number: 1
Number is odd

In [31]:

Numbers = list(range(1,11))

for number in Numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [32]:
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n * factorial(n-1)
    
print (factorial(5))

120

In [33]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [34]:
def prime_no(n):
    for i in range (2,int(n**0.5)+1):
        if n % i == 0:
            return False
    return True   

Primes = []
for i in range(2,101):
    if prime_no(i):
        Primes.append(i)

print(Primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [35]:
def is_prime(n):
  """Returns True if n is a prime number, False otherwise."""
  for i in range(2, int(n**0.5) + 1):
    if n % i == 0:
      return False
  return True


primes = []
for i in range(2, 101):
  if is_prime(i):
    primes.append(i)

print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [37]:
age = 25
print("Iam",age,"years old")

Iam 25 years old

In [38]:
age = 24
print("Iam",age,"years old")

Iam 24 years old

In [40]:
#convert km to miles

km = float(input("Type the no. of km: "))
miles = km / 1.609344
print(km, "km = ", round(miles,3) ,"miles")

Type the no. of km: 100
100.0 km =  62.137 miles

In [42]:

myString = "Some text"
type(myString)

str

In [43]:
myString = 'he said "meet me"'

print(myString)

he said "meet me"

In [47]:
print(myString[0])
print(myString[-1])

h
"

In [48]:
len(myString)

17

In [49]:
myString = "IND784874387783"
myString[0:3]

'IND'

In [51]:
myString = "784874387783IND"
myString[-3:]
print(myString[-8:])

87783IND

In [52]:
#Concatenate
"Hello"+ " "+ "world"

'Hello world'

In [56]:
"user-" + str(22)

'user-22'

In [60]:
num1 = 11
num2 = 77
print(type(num1))

result = num1 / num2
print(result)
print(type(result))

<class 'int'>
0.14285714285714285
<class 'float'>

In [62]:
import math
math.factorial(num1)

39916800

In [63]:
math.ceil(result)

1